mbcclr_utils/bin
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.vscode
test*

# auxiliary folders
auxiliary/FragGeneScan1.31/
auxiliary/hmmer-3.3.2

# OSX
.DS_Store